@import 'materialize';

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F9FAE3 inset;
}

body {
  background-color: #f2f7f7;
  // background-color: #3a3b3a;
  // background-image: url('http://res.cloudinary.com/dk2bj79p0/image/upload/v1487561985/ligtning_ffsfnw.png');
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  font-family: Questrial;
}

.alert {
  padding: 5px;
  border: 1px solid transparent;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.white-container {
  background-color: #f2f7f7;
}

.edit-icon:hover {
  color: #60b9e8 !important;
  opacity: 1 !important;
}

.delete-icon:hover {
  color: #ef5262 !important;
  opacity: 1 !important;
}

.modal {
  max-height: 100% !important;
}

.checkbox-blue[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #60b9e8;
     background-color: #60b9e8;
}

input:focus {
  border-bottom: 1px solid #60b9e8 !important;
  -webkit-box-shadow: 0 1px 0 0 #60b9e8 !important;
  -moz-box-shadow: 0 1px 0 0 #60b9e8 !important;
  box-shadow: 0 1px 0 0 #60b9e8 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #60b9e8 !important;
}
//
// .confirm-icon:hover {
//   color: #00dd00 !important;
//   opacity: 1 !important;
// }

.picker__date-display {
  background-color: #60b9e8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  color: #f2f7f7
}
.picker__weekday-display {
  background-color: #4F99BF;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75)

}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #60b9e8;
}

.board-tabs:hover {
  background-color: #999 !important;
  box-shadow: inset 0 0 2px black;

}

// .off-tab {
//   background-color: #60b9e8;
// }
//
// .off-tab:active {
//   background-color: #5AA8D1;
// }
//
// .on-tab {
//   background-color: #5AA8D1;
// }

// .selectedNav {
//   background-color: #5AA8D1 !important;
// }
// .selectedNav {
//   background-color: #455366 !important;
// }
.selectedNav {
  background-color: rgba(130,130,130,.20) !important;
}

.add-sale {
  padding: 5px 10px;
  border-radius: 5px;
}

.add-sale:hover {
  background-color: #ddd
}

.add-sale-box {
  background-color: #f2f7f7 !important;
  // padding-left: 5px !important;
  // padding-right: 5px !important;
  border-radius: 5px !important;
}

.employee-info {
  border: 1px solid #ddd !important;
  padding-left: 10px !important;
  height: 40px !important
}

.add-sale-input {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.cancel:hover {
  background-color: #60b9e8;
  color: #f2f7f7 !important;
}

.brio:after {
  content: "BLAH"
}

.section-link {
  color: black
}

.section-link:hover {
  color: #60b9e8
}

.sidebar-link {
  color: black
}

.sidebar-link:hover {
  // color: #f2f7f7 !important;
  background-color: #ccc;
  border-radius: 3px;
  // text-shadow: 1px 1px #333;
}

.sidebar-link:hover a:hover {
  text-decoration: underline !important;
}



// .nav-logo {
//   background-image: url('http://res.cloudinary.com/dk2bj79p0/image/upload/v1487571022/Logomakr_3gZNsL_mrbshc.png');
//   width: 130px;
//   height: 40px;
//   display: inline-block;
//   background-size: cover;
//   margin-top: 10px;
//
// }

.logo-text {
  padding-left: 25px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.picture-edit:hover {
  color: #60b9e8 !important
}

.admin:hover {
  background-color: #ccc !important;
}

::-webkit-input-placeholder {
  padding-left: 5px
}
:-moz-placeholder { /* older Firefox*/
  padding-left: 5px
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 5px
}
:-ms-input-placeholder {
  padding-left: 5px
}


.green-back {
  background-color: #28DE2B !important;
  text-align: center !important;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5) !important
}

.red-back {
  background-color: #F53D3D !important;
  text-align: center !important;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5) !important
}

.region-hover:hover {
  background-color: #ccc !important;
}

.test-test {
  background-color: #f2f7f7 !important;
}

.scroll {
  border: 0;
  border-collapse: collapse;
}

.scroll tr {
  display: flex;
}

.scroll td {
  flex: 1 auto;
}

.scroll thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.scroll thead th {
  flex: 1 auto;
  display: block;
}

.scroll tbody {
  display: block;
  overflow-y: auto;
  height: 369px;
}

// .backdrop {
//   background-color: #60b9e8 !important
// }
// .region-text:hover {
//   text-decoration: underline !important;
// }
// .link:hover {
//   color: #f2f7f7 !important;
// }
